<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Site Maintenance</title>
</head>

<body>
    <h1>Site currently under maintenance</h1>
    Please check back later

    {{> footer}}

</body>

</html>